@import "../abstracts/variables";

.postContainer {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20% 5% 75%;
    justify-items: center;
    gap: 3rem;
}

.blogPostContainer {
    display: grid;
    grid-template-rows: 20% 5% 5% 20%;
    justify-items: center;
    gap: 5rem;
}

.blogContent {
    line-height: 1.4;
    width: 60rem;
    display: grid;
    gap: 1rem;
}

.postHeader {
    font-size: 3.6rem;
    display: grid;
    align-items: end;
}

.postHeaderSm {
    font-size: 2rem;
    display: grid;
    align-items: end;
}

.postContent {
    display: grid;
    align-items: start;
}

.navigationLink {
    font-size: 1.25rem;

    a {
        color: $color-main;
        transition: color 0.15s ease;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:active {
            color: turquoise;
        }
    }
}
